<h1>Cadastro de atividades</h1>
<br>
<form action="/atualiza" method="post">
    <label for="">Atividade:</label><br>
    <input type="text" name="atividade"><br><br>

    <button type="submit">Cadastrar</button>
</form>
<br>
{{#if msg}}
    <p>{{msg}}</p>
{{else}}
    <p>{{msg2}}</p>
{{/if}}