<h1>deletar atividade</h1>
<br>
<form action="/deleta" method="post">
    <label for="">Id atividade:</label>
    <input type="text" name="id"><br>
    <button type="submit">Deletar</button>
</form>
<br>
{{#if msg}}
    <p>{{msg}}</p>
{{else}}
    <p>{{msg2}}</p>
{{/if}}