<h1>Login</h1>
<form action="/login" method="post">
    <label for="email">Insira seu email</label><br>
    <input type="text" name="email"> <br><br>
    <label for="senha">Insira sua senha</label><br>
    <input type="password" name="senha"> <br><br>
    <button type="submit">Enviar</button>
</form>